{% load static %}

<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>La Guilde - Homepage</title>
    <link rel="icon" href="https://www.universite-paris-saclay.fr/sites/default/files/2020-07/laguilde.png">
    {% load static %}
    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'stock/styles.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'stock/login.css' %}" />
    <!-- Custom CSS -->
</head>

<body>
<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container px-4 px-lg-5">
      <a class="navbar-brand" href="http://127.0.0.1:8000">Le comptoir de La Guilde</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
          aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
              <li class="nav-item"><a class="nav-link active" aria-current="page"
                      href="http://127.0.0.1:8000">Accueil</a></li>
              <li class="nav-item"><a class="nav-link" href="http://127.0.0.1:8000/stock/contact">Contact</a></li>
              <li class="nav-item"><a class="nav-link" href="http://127.0.0.1:8000/stock/js">Jeux de société</a>
              </li>
              <li class="nav-item"><a class="nav-link" href="http://127.0.0.1:8000/stock/jv">Jeux vidéo</a></li>
              <li class="nav-item"><a class="nav-link" href="http://127.0.0.1:8000/stock/jr">Jeux de rôle</a></li>

          </ul>
          <form class="d-flex">
              <button class="btn btn-outline-dark" type="submit"><a class="nav-link"
                      href="https://paulpey.itch.io/super-pink-man-adventure?secret=f5B5H1mRAqn1VyYyC5R3qfD7uE">
                      <i class="bi-cart-fill me-1"></i>
                      Jouer avec nous
              </button></a>
          </form>
      </div>
  </div>
</nav>
    <!-- Header-->
    <header class="bg-danger py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">La Guilde</h1>
                <p class="lead fw-normal text-white-50 mb-0">L'association de jeux de CentraleSupélec</p>
            </div>
        </div>
    </header>

{% block content %}

  {% if form.errors %}
    <p class = "display-7 fw-bolder text-md-center" >Votre nom d'utilisateur ou votre mot de passe ne correspond pas. Veuillez réessayer..</p>
  {% endif %}

  {% if next %}
    {% if user.is_authenticated %}
      <p class = "display-7 fw-bolder text-md-center">Votre compte n'est pas authorisé à accéder à cette page. Pour continuer, veuillez vous enregistrer avec un compte qui possède les droits d'accès.</p>
    {% else %}
      <p class = "display-7 fw-bolder text-md-center">Veuillez vous enregistrer pour accéder à cette page.</p>
    {% endif %}
  {% endif %}

  <div class ="center-container">
    <form class = "center-form" method="post" action="{% url 'login' %}">
      {% csrf_token %}
      <table >
        <tr>
          <td class = "text-md-center">{{ form.username.label_tag }}</td>
          <td>{{ form.username }}</td>
        </tr>
        <tr>
          <td>{{ form.password.label_tag }}</td>
          <td>{{ form.password }}</td>
        </tr>
      </table>
    </div>
      <div class ="center-containerbutton">
        <input class = "text-md-center" type="submit" value="se connecter">
        <input type="hidden" name="next" value="{{ next }}">
      </div>
    </form>
  



  {# Assumes you setup the password_reset view in your URLconf #}
  <p class = "text-md-center"><a href="{% url 'password_reset' %}">Mot de passe oublié ?</a></p>

{% endblock %}

<!-- Footer-->
<footer class="py-5 bg-danger">
  <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Le comptoir de La Guilde 2023</p>
  </div>
</footer>
